/*Start Global Variables*/
/*End Global VAriables*/
/*Start Global Rules*/
* {
	--webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Work Sans', sans-serif;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
}
/*Media Queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
/*End Global Rules*/

/*Start HEADER*/
header {
	padding: 20px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	width: 60px;
}

header .links {
	position: relative;
}

header .links:hover ul {
	display: block;
}

header .links .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

header .links .icon span {
	background-color: #333;
	margin-bottom: 5px;
	height: 3px;
	width: 100%;
	cursor: pointer;
}
header .links .icon:hover span:nth-child(2) {
	width: 100%;
}

header .links .icon span:nth-child(2) {
	width: 60%;
	transition: .3s;
}

header .links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f6f6f6;
	position: absolute;
	right: 0;
	min-width: 200px;
	display: none;
	top: calc(100% + 15px);
	border-radius: 5px;
}

header .links ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f6f6f6 transparent;
	position: absolute;
	right: 5px;
	top: -20px;
}

header .links ul li a {
	padding: 15px;
	display: block;
	transition: .3s;
	text-decoration: none;
	color: #333;
}

header .links ul li a:hover {
	padding-bottom: 25px;
}

header .links ul li:not(:last-child) a {
	border-bottom: 1px solid #ddd;
}

/*End HEADER*/
