/*Start Global Variables*/
:root {
	--main-color: #10cab7;
	--secondary-color: #2c4755;
	--section-padding: 60px;
}
/*End Global VAriables*/
/*Start Global Rules*/
* {
	--webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: 'Work Sans', sans-serif;
}
.container {
	padding: 0 15px;
	margin: 0 auto;
}
/*Media Queries*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container {
		width: 500px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/*End Global Rules*/
/*Start Component*/
.special-heading {
	color: #ebeced;
	font-size: 100px;
	text-align: center;
	font-weight: 800;
	letter-spacing: -3px;
	margin: 0;
}

.special-heading + p {
	color: #737373;
	font-size: 20px;
	text-align: center;
	margin: -30px 0 0;
}

@media (max-width: 767px) {
	.special-heading {
		font-size: 60px;
	}

	.special-heading + p {
		margin-top: -20px;
	}
}
/*End Component*/

/*Start HEADER*/
header {
	padding: 20px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	width: 60px;
}

header .links {
	position: relative;
}

header .links:hover ul {
	display: block;
}

header .links .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

header .links .icon span {
	background-color: #333;
	margin-bottom: 5px;
	height: 3px;
	width: 100%;
	cursor: pointer;
}
header .links .icon:hover span:nth-child(2) {
	width: 100%;
}

header .links .icon span:nth-child(2) {
	width: 60%;
	transition: .3s;
}

header .links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #f6f6f6;
	position: absolute;
	right: 0;
	min-width: 200px;
	display: none;
	top: calc(100% + 15px);
	border-radius: 5px;
	z-index: 1;
}

header .links ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f6f6f6 transparent;
	position: absolute;
	right: 5px;
	top: -20px;
}

header .links ul li a {
	padding: 15px;
	display: block;
	transition: .3s;
	text-decoration: none;
	color: #333;
}

header .links ul li a:hover {
	padding-bottom: 25px;
}

header .links ul li:not(:last-child) a {
	border-bottom: 1px solid #ddd;
}
/*End HEADER*/
/*Start Landing*/
.landing {
	background-image: linear-gradient(#333, #333), url(../img/lubo-minar-3K6ZkYBj2Xo-unsplash.jpg);
	background-size: cover;
	height: calc(100vh - 64px);
	position: relative;
	background-blend-mode: saturation;
}

.landing .intro-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 320px;
	max-width: 100%;
}
.landing .intro-text h1 {
	margin: 0;
	font-weight: bold;
	font-size: 50px;
	color: var(--main-color);
}
.landing .intro-text p {
	font-size: 19px;
	line-height: 1.8;
}
/*End Landing*/
/*Start features*/
.features {
	padding: var(--section-padding) 0;
	background-color: #f6f6f6;
}
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
}
.features .feat {
	padding: 20px;
	text-align: center;
}
.features .feat i {
	color: var(--main-color);
}
.features .feat h3 {
	font-weight: 800;
	margin: 30px 0;
}
.features .feat p {
	line-height: 1.8;
	font-size: 17px;
	color: #777;
}
/*End features*/
/*Start Services*/
.services {
	padding: var(--section-padding) 0;
}
.services .service-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
	margin-top: 100px;
}
.services .service-content .srv {
	display: flex;
	margin-bottom: 40px;
}
@media (max-width: 767px) {
	.services .service-content .srv {
		flex-direction: column;
		text-align: center;
	}
}
.services .service-content .srv i {
	color: var(--main-color);
	flex-basis: 60px;
}

.services .service-content .srv .text {
	flex: 1;
}

.services .service-content .srv .text h3 {
	margin: 0 0 20px;
}
.services .service-content .srv .text p {
	color: #444;
	font-weight: 300;
	line-height: 1.6;
}
.services .service-content .image {
	text-align: center;
	position: relative;
	top: -40px;
}

.services .service-content .image::before {
	content: "";
	position: absolute;
	background-color: var(--secondary-color);
	width: 100px;
	height: calc(100% + 70px);
	top: -40px;
	right: 0;
	z-index: -1;
}

.services .service-content .image img {
	width: 260px;
}

@media (max-width: 1199px) {
	.image {
		display: none;
	}
}
/*End Services*/
/*Start Portfolio*/
.portfolio {
	padding: var(--section-padding) 0;
	background-color: #f6f6f6;
}

.portfolio .portfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
	margin-top: 80px;
}

.portfolio .portfolio-content .card {
	background-color: white;
}

.portfolio .portfolio-content .card img {
	max-width: 100%;
}
.portfolio .portfolio-content .card .info {
	padding: 20px;
}
.portfolio .portfolio-content .card .info h1 {
	margin: 0;
	color: #333;
}
.portfolio .portfolio-content .card .info {
	color: #777;
	line-height: 1.6;
	margin-bottom: 0;
}

@media (max-width: 659px) {
	.portfolio .portfolio-content .card .info {
		text-align: center;
	}
}
/*End Portfolio*/
/*Start About*/
.about {
	padding-top: var(--section-padding);
	padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about .about-content .image {
	position: relative;
	width: 250px;
	height: 375px;
	display: block;
}

@media (max-width : 991px) {
	.about .about-content {
		text-align: center;
	}

	.about .about-content .image {
		display: none;
	}	
}

.about .about-content .image::before {
	content: "";
	position: absolute;
	width: 100px;
	background-color: #ebeced;
	height: calc(100% + 80px);
	top: -40px;
	left: -20px;
	z-index: -1;
}

.about .about-content .image::after {
	content: "";
	position: absolute;
	width: 120px;
	height: 300px;
	border-left: 90px solid var(--secondary-color);
	border-bottom: 80px solid var(--secondary-color);
	z-index: -1;
	right: -60%;
	top: -15%;
}

.about .about-content .image img {
	max-width: 100%;
	height: 100%;
}

.about .about-content .text {
	flex-basis: calc(100% - 500px);
}

@media (max-width : 991px) {
	.about .about-content .text {
		flex-basis: 100%;
	}	
}

.about .about-content .text p:first-of-type {
	font-weight: bold;
	line-height: 2;
	margin-bottom: 50px;
}

.about .about-content .text hr {
	width: 50%;
	display: inline-block;
	background-color: var(--main-color);
	border: 1px solid var(--main-color);
}

.about .about-content .text p:last-of-type {
	line-height: 2;
	color: #777;
}
/*End About*/
/*Start Contact*/
.contact {
	padding: var(--section-padding) 0;
	background-color: #f6f6f6;
}

.contact .info {
	padding: var(--section-padding) 0;
	text-align: left;
}

.contact .info .label{
	font-size: 40px;
	font-weight: 800;
	color: var(--secondary-color);
	letter-spacing: -2px;
	margin-bottom: 15px;
}

.contact .info .link{
	display: block;
	font-size: 40px;
	font-weight: 800;
	color: var(--main-color);
	text-decoration: none;
}

@media (max-width : 767px) {
	.contact .info .label{
		font-size: 25px;
		font-weight: 700;
	}
	
	.contact .info .link{
		font-size: 25px;
		font-weight: 700;
	}
}

.contact .info .social{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 16px;
	color: #444;
}

.contact .info .social i{
	margin-left: 14px;
	color: #2c4755;
}
/*End Contact*/
